document.aux
document.bbl
document.bcf
document.blg
document.fdb_latexmk
document.fis
document.log
document.out
document.xml
document.synctex.gz
document.toc
document.idx
document.ilg
document.ind
document.run.xml
!/out
!/tex
!/uml
!document.pdf
!document.tex
!mystyle.sty
!LICENSE
!README.md
!Noroff-Logo.png
!Noroff-Small-Logo.png
